nav {
  display: flex;
  gap: 34px;
  background-color: black;
  color: white;
  /* margin: 10px; */
}

li {
  list-style: none;
  padding: 23px;
}

a {
  text-decoration: none;
}

a li {
  color: white;
}

.red {
  background-color: red;
}

* {
  padding: 0;
  margin: 0;
}
